.covid-header {
  background-color: #344cb7;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1200;
}

.cases {
  background-color: #577bc1;
  color: white;
}

.custom-container {
  padding-top: 150px;
}

@media screen and (max-width: 345px) {
  .custom-container {
    padding-top: 190px;
  }
}
